html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  background: linear-gradient(to right, #e63946, #a8dadc, #457b9d, #1d3557);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
